* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /*background-color: #3CB371; /*medium sea green*/
    background-image: linear-gradient(to bottom right, #3CB371, yellow);
    
}

body {
    background-color: #FFFAF0; /*floral white*/
}
.logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.content {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.content-item {
    
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.subflex {
    display: flex;
    flex-wrap: wrap;
    
   
}

.subflex-item {
    flex: 40%;
    border: 1px solid #3CB371;
    margin: 5px;
    padding: 5px;
    word-break: keep-all;
    
}

.subflex-item:hover {
    box-shadow: 5px 5px 5px #2E8B57;
    border: 2px solid #3CB371;
}



@media only screen and (max-width: 400px) {
    .content {
        width: 300px;
        margin: auto;
    }
    .content-item {
        
    }
    .subflex-item {
        flex: 100%;
    }
    
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .content {
        width: 600px;
        margin: auto;
    }
    
    .content-item {
        
    }
}

@media only screen and (min-width: 961px) {
    .content {
        width: 1300px;
        margin: auto;
    }
    
    .content-item {
        
    }
    
    .subflex-item {
        flex: 20%;
        margin: 20px;
        height: 300px;
        
    }
}

#subflex-item1 {
    background-image: url(piechart.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#subflex-item2 {
    background-image: url(writing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#subflex-item3 {
    background-image: url(shaggyscooby.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}